<form onsubmit="return false">
    <input @bind="PlayerName" />
    &nbsp;
    <button class="btn btn-primary" @onclick="Confirm" type="submit">
        <span class="oi oi-check"></span> Confirm
    </button>
</form>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = null!;

    [Parameter]
    public string? PlayerName { get; set; }

    Task Confirm() => BlazoredModal.CloseAsync(ModalResult.Ok(PlayerName));
}
