@if (Game == null)
{
    <div>Restoring game...</div>
}
else
{
    <div class="d-flex align-content-stretch flex-wrap h-100">
        @foreach (var playerState in Game.CurrentState.Players)
        {
            <ScoresFlexGridCell PlayerState="@playerState" />
        }
    </div>
}

@code {
    [CascadingParameter]
    public Game? Game { get; set; }
}
